@import "tailwindcss";

@theme {
  --color-bg: #0a0a0a;
  --color-surface: #1a1a1a;
  --color-primary: #c6de41;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A0A0A0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}