@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap');
@import "tailwindcss";


@theme {
  --color-bg: #0a0a0a;
  --color-surface: #1a1a1a;
  --color-primary: #c6de41;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A0A0A0;

  --font-logo: "Climate Crisis", sans-serif;
}

html {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}